@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Bold.woff2");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: hsl(234, 29%, 20%);
  border: none;
  outline: none;
}

body {
  background-color: hsl(235, 18%, 26%);
}

ul {
  list-style: none;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  padding: 0 16px;
}

.btn {
  width: 100%;
  background: hsl(234, 29%, 20%);
  border-radius: 6px;
  padding: 18px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  margin-top: 24px;
  cursor: pointer;
  transition: background 0.5s linear, box-shadow 0.3s linear;
}
.btn:hover {
  background: linear-gradient(90deg, hsl(4, 100%, 67%), #FF9255);
  box-shadow: #FF9255 0px 8px 24px;
}

.form-wrapper {
  display: none;
  flex-wrap: wrap;
  gap: 20px;
  background: hsl(0, 0%, 100%);
  padding: 20px;
  border-radius: 14px;
  box-shadow: hsl(234, 29%, 20%) 0px 7px 29px 0px;
}
.form-wrapper.showed {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.form-wrapper .text-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex: 1;
  gap: 58px;
  max-width: 412px;
  padding: 0 24px;
}
.form-wrapper .text-wrapper .intro {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 24px;
}
.form-wrapper .text-wrapper .intro .title {
  font-size: 54px;
  font-weight: 700;
  color: hsl(235, 18%, 26%);
}
.form-wrapper .text-wrapper .intro p {
  line-height: 1.6;
}
.form-wrapper .text-wrapper .intro .feature-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 8px;
}
.form-wrapper .text-wrapper .intro .feature-item:not(:last-child) {
  margin-bottom: 10px;
}
.form-wrapper .text-wrapper .intro .feature-item img {
  width: 20px;
  height: 20px;
}
.form-wrapper .text-wrapper .form {
  width: 100%;
}
.form-wrapper .text-wrapper .form .input-wrapper .label-error-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 8px;
}
.form-wrapper .text-wrapper .form .input-wrapper .label-error-wrapper label {
  display: block;
  font-size: 14px;
  font-weight: 700;
}
.form-wrapper .text-wrapper .form .input-wrapper .label-error-wrapper .error-placeholder {
  font-weight: 700;
  color: hsl(4, 100%, 67%);
}
.form-wrapper .text-wrapper .form .input-wrapper input {
  width: 100%;
  padding: 18px;
  border: 1px solid hsl(231, 7%, 60%);
  border-radius: 6px;
  cursor: pointer;
}
.form-wrapper .text-wrapper .form .input-wrapper input:focus {
  border-color: hsl(234, 29%, 20%);
}
.form-wrapper .text-wrapper .form .input-wrapper input::placeholder {
  color: hsl(231, 7%, 60%);
}
.form-wrapper .text-wrapper .form .input-wrapper input.has-error {
  color: hsl(4, 100%, 67%);
  border-color: hsl(4, 100%, 67%);
  background-color: rgba(255, 98, 87, 0.2);
}
.form-wrapper .image-wrapper {
  flex: 1;
  align-self: stretch;
  border-radius: 12px;
  overflow: hidden;
}
.form-wrapper .image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.form-wrapper .image-wrapper img.mobile-illustration {
  display: none;
}

.success-msg-wrapper {
  display: none;
  max-width: 452px;
  flex-wrap: wrap;
  gap: 30px;
  background: hsl(0, 0%, 100%);
  padding: 38px;
  border-radius: 14px;
  box-shadow: hsl(234, 29%, 20%) 0px 7px 29px 0px;
}
.success-msg-wrapper.showed {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.success-msg-wrapper .message-content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 24px;
}
.success-msg-wrapper .message-content .title {
  font-size: 48px;
}
.success-msg-wrapper .message-content .message {
  line-height: 1.6;
}
.success-msg-wrapper .btn {
  margin-top: 0;
}

.attribution {
  color: white;
  text-align: center;
  padding: 16px 0;
}
.attribution a {
  color: white;
}

@media (max-width: 768px) {
  .btn {
    margin-top: 16px;
  }
  .form-wrapper .text-wrapper {
    gap: 30px;
  }
  .form-wrapper .text-wrapper .intro {
    gap: 20px;
  }
  .form-wrapper .text-wrapper .intro .title {
    font-size: 46px;
  }
}
@media (max-width: 460px) {
  main {
    padding: 0;
    height: auto;
  }
  .form-wrapper {
    min-height: 100vh;
    height: auto;
    border-radius: 0;
    padding: 0;
    padding-bottom: 20px;
    box-shadow: none;
  }
  .form-wrapper.showed {
    flex-direction: column-reverse;
  }
  .form-wrapper .text-wrapper {
    max-width: 100%;
    justify-content: flex-start;
  }
  .form-wrapper .text-wrapper .intro .title {
    font-size: 38px;
  }
  .form-wrapper .image-wrapper {
    height: 230px;
    border-radius: 0;
    border-end-end-radius: 18px;
    border-end-start-radius: 18px;
  }
  .form-wrapper .image-wrapper img.mobile-illustration {
    display: block;
  }
  .form-wrapper .image-wrapper img.desktop-illustration {
    display: none;
  }
  .success-msg-wrapper {
    max-width: 100%;
    height: 100vh;
    border-radius: 0;
    padding: 28px;
    box-shadow: none;
  }
  .success-msg-wrapper.showed {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
  }
  .success-msg-wrapper .message-content .title {
    font-size: 42px;
  }
  footer {
    background: hsl(0, 0%, 100%);
    padding: 0 20px;
  }
  footer .attribution {
    color: hsl(234, 29%, 20%);
    line-height: 1.6;
  }
  footer .attribution a {
    color: hsl(234, 29%, 20%);
  }
}

/*# sourceMappingURL=style.css.map */
